* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  font-weight: lighter;
  padding-bottom: 1rem;
}
.description {
  padding-bottom: 1rem;
}
label {
  padding-bottom: 1rem;
}

input {
  text-decoration: none;
  border: none;
  border-bottom: solid 1px black;
  text-align: center;
}
input:focus {
  outline: none;
}
button {
  padding: 6px 18px;
  border: none;
  background-color: darkcyan;
  color: white;
  border-radius: 50%;
}
table {
  background-color: teal;
}

td {
  background-color: teal;
  color: white;
  padding: 10px;
}

#errorMessage {
  color: brown;
  padding: 10px 10px;
}

caption {
  background-color: gray;
  padding: 10px;
}
checkBtn {
  padding-bottom: 10px;
}
